{# executor/show.executors.html.twig #}

{% if executors %}
    {% for executor in executors %}
        <div class="form-row">
            <div class="col-3">{{ executor.username }}</div>
            <div class="col">{{ executor.email }}</div>
            <div class="col-2 text-right">
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    {% endfor %}
{% else %}
    No executors
{% endif %}

<hr>
<a href="{{ path('executor_new', { 'id' : task.id }) }}" class="btn btn-block btn-primary">Add executor</a>
