{# default/access.denied.html.twig #}

<div class="container">
    <br>
    <div class="row">
        <div class="col text-center h3">
            Доступ запрещен!
            <br>
            Пройдите процедуру авторизвации!
        </div>
    </div>
</div>