{# default/welcome.html.twig #}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-center h3">
                Добро пожаловать!!!
            </div>
        </div>
    </div>
{% endblock %}