{# footer/index.html.twig #}

<div class="row">
    <div class="col fixed-bottom bg-primary text-ligth">
        <div class="form-row">
            <div class="col text-white">sammmium@gmail.com</div>
            <div class="col text-right text-white">sammmium&copy;2018</div>
        </div>
    </div>
</div>