{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('menu/index.html.twig') }}
    {% block content %}{% endblock %}
    <br><br><br><br>
    {{ include('footer/index.html.twig') }}
{% endblock %}