{% extends 'layout.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
        <br>
        <div class="container">
            <h1>Choise user</h1>
            {{ include('user/_form.html.twig') }}
        </div>

    {% else %}
        {{ include('default/access.denied.html.twig') }}
    {% endif %}
{% endblock %}